.carouselred {
  height: 400px;
  width: 800px;
}

.font1 {
  color: #09080D;
  font-family: 'Merienda One'; cursive;
}

.creditcard {
  color: #09080D;
  font-family: 'Merienda One'; cursive;
}

div div{
  background-color: #154c79;
  border: 1px solid #8c90a3;
}
